body {
  background-color: #662131;
}
#back {
  margin-bottom: 2%;
}
#settingsbox{
  display: none;
}
#content  {
  display: flex;
  justify-content: center;
}
#game  {
  display: flex;
  justify-content: center;
  border: 5px solid #000000;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: 1%;
}
#headerbox {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
#bossbox {
  display: flex;
  justify-content: center;
  margin-top: -6%;
}
#fighters {
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}
#warrior {
    border: 2px solid #000000;
    margin: 5px;
    padding: 5px;
}
#tank {
    border: 2px solid #000000;
    margin: 5px;
    padding: 5px;
}
#mage {
    border: 2px solid #000000;
    margin: 5px;
    padding: 5px;
}
#healer {
    border: 2px solid #000000;
    margin: 5px;
    padding: 5px;
}
 /* .skills {
    margin: 5px;
} */
.moves {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
#bskill {
  display: flex;
  justify-content: center;
  margin-top: -3%;
}
#settingpic {
  display: flex;
  justify-content: center;
  position: relative;
}
